@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.home{
    background-image: url(images/sfondochisiamo.png);
}
.testo{
    text-align: justify;
    padding: 10em;
    font-size: 23px;
    font-family: 'Montserrat';
}

.titolo{
margin-left: 0px;
font-size: 22px;
}
@media (max-width: 900px)
{
    .testo
    {
        padding-top: 7em;
        padding-left: 1em;
        padding-right: 1em;
        font-size: 18px;
        text-align: center;
    }

    .titolo{
        text-align: center;
    font-size: 15px;
    }
}