@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    padding:0px;
    margin:0px;
    font-family: 'Montserrat', sans-serif;
}

/* End Global Rules */

/* .contenitore
{
    margin:auto;
    padding-right:15px;
    height: 140px;
    background-color: #fff;
    z-index: 99;
    font-family: 'o';
} */

/***************************************************************************/
/*                                  NAVBAR                                 */
/***************************************************************************/
.container {
    position: fixed;
    width: 42%;
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    -webkit-box-align: center;
          align-items: center;
    z-index: 999;

    
  }
.container2{
   margin-left: 53%;
}
  .container.scrolling {
    background-color: white;
    color: black;
  }
  
  /* hamburger menù */
  .hamburger {
    display: none;
  }
  
  /* logo */
  .logo {
    -webkit-box-ordinal-group: 2;
                        order: 1;
    font-size: 10px;
    color: #111;
    margin-right: -1350px;
    padding: 10px;
  }

  #logo{
    width: 10%;
  }
  
  /* white logo */
  #logo-white {
    display: none;
  }
  
  /* navbar items */
  .item {
    color: black;
    text-decoration: none;
    font-family: 'Montserrat';
    padding: 5px;
    /* width: 90px; */
  }
  
  .item-logo {
    color: rgba(255, 255, 255, 0.88);
    text-decoration: none;
    font-family: 'Montserrat';
    padding: 10px;
  }
  
  .item:hover {
    color: rgba(0, 0, 0, 0.514);
    background: rgba(255, 255, 255, 0.15);
  }
  
  .item:nth-of-type(n+4) {
    -webkit-box-ordinal-group: 3;
                        order: 2;
  }

  .band{
    visibility: hidden;
  }
  
  .band.scrolling{
    visibility: visible;
    background-color: #fff;
    width: 100%;
    z-index: 80;
    height: 170px;
    position: sticky;
    top: 0px;
  }

  .footer{
    display: none;
  }
  /***************************************************************************/
  /*                             HOME IMAGE COVER                            */
  /***************************************************************************/
  .home {
    width: 100%;
    height: 100vh;
    background-image: url(images/sfondo.png);
    background-position: center top;
    background-size:cover;
    z-index: 0;
  }

  /***************************************************************************/
/*                             MEDIA FOR 1180PX                            */
/***************************************************************************/
@media all and (max-width: 1180px) {
    /* navbar responsive */
    .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
             flex-direction: column;
      -webkit-box-align: stretch;
             align-items: stretch;
      background-color: white;
    }


    /* logo in navbar responsive */
    .logo {
      height: 80px;
      
      line-height: 0px;
      text-align: center;
    }
  
    #logo {
      
      
        margin-left: 10px;
      margin-bottom: 60%;
      width: 23%;
    }
    
    .band{
        display: none;
    }
    /* #logo-white {
     display: block;
        
        margin-bottom: 60%;
        width: 23%; 
        
      } */
    .container2{
        margin-left: 0%;
     }
     
     .container{
        width: 100%;
     }
  
  
    /* hamburger menù and bars */
    .hamburger {
      display: inline-block;
      position: absolute;
      top: 30px;
      cursor: pointer;
    }
  
    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
    }
  
    /* hamburger transition */
    .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
    }
  
    .change .bar2 {
      opacity: 0;
    }
  
    .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px);
      transform: rotate(45deg) translate(-8px, -8px);
    }
  
    .logo {
      -webkit-box-ordinal-group: 1;
                          order: 0;
      text-align: center;
      width: 360px;
      margin: auto auto;
    }
  
    /* navbar items */
    .item {
      text-align: center;
      border-bottom: 1px solid #111;
      display: none;
      width: 100%;
      height: 50px;
      margin-top: 30px;
    }
  
    .show {
      display: block;
    }
  
    #hidden{
      display: none;
      visibility: hidden;
    }
  
    .home {
      height: 100vh;
    }
  }
/* Start Style NavBar  */
/*
nav
{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;

}

ul
{
    list-style: none;
    
}

li
{

    float:left;
    padding:20px;
    font-size:18px;
    z-index: 1;
   
}

a
{
    color:#000;
    text-decoration:none;
    font-weight:bold;
    z-index: 999;
}

a:hover
{
    color:#202020;
}

#logo
{
     margin:20px 0 20px 20px;
    font-size:50px;
    cursor:pointer;
    color:#e4e6e7;
    float:left;
    height:70px;
    display:block;
}

.links
{
    float:right;
    padding:18px;
}

#menu-icon
{
    margin-top: -20%;
    margin-left: 20%;
    display:hidden;
    width:120px;
    height:120px;
    z-index: 9;
}

@media (max-width: 600px)
{
#menu-icon
{
    display: none;
}
}

@media (max-width: 420px)
{
#menu-icon
{
    display: none;
}
.links
{
    padding:10px 10px;

}  

.links ul
{

    position:absolute;
    padding:20px;
    right:80px;
    margin-left: 50px;


} 

.links:hover ul
{
    display:block;

} 
nav
{
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
}

.links li
{
    text-align:center;
    width:100%;
    padding:10px;
    margin:0;
}

.contenitore
{
    height: 175px;
}


}*/

/*rectangles*/
.background{
  
  /* margin-top: -55em; */
  /* margin-top: -900px; */
    height: 100vh;
    text-align: center;
} 


#red-rect {
	width: 20em;
	height: 100%;
	background: #FF7979;
    position: fixed;
    display: inline-block;
    margin-left: -470px;
    z-index: -1;
 
    
    

}

#green-rect {
	width: 20em;
	height: 100%;
	background: rgba(41, 130, 0, 0.40);
    position: fixed;
    display: inline-block;
    margin-left: 150px;
  
   
}

.mobile-background{
    display: none;
}

#mobile-red-rect {
    display: none;
}

#mobile-green-rect {
    display: none;
}


@media (max-width: 1180px)
{
    .background{
        display: none;
    }

    #red-rect {
        display: none;
    }
    
    #green-rect {
        display: none;
    }

    .mobile-background{
        display: block;
        height: 100vh;
        text-align: center;
    }
    
    #mobile-red-rect {
        display: block;
        position: fixed;
        background: #FF7979;
        height: 5em;
        width: 100%;
        margin-top: 300px;
    }
    
    #mobile-green-rect {
        display: block;
        position: fixed;
        background: rgba(41, 130, 0, 0.40);
        height: 5em;
        width: 100%;
        margin-top: 620px;
    }
}


/*images */
.art-intr{
    text-align: center;
    margin-top: -600px;
    z-index: 1;
}

.artisti{
    display: inline-block;
    width: 450px;
    position: fixed;
    margin-left: -530px;

}

.intrattenimento{
    display: inline-block;
    position: fixed;
    width: 450px;
    margin-left: 5.5em;
}

.mobile-art-intr{
    display: none;
}

.mobile-artisti{
    display: none;

}

.mobile-intrattenimento{
    display: none;
}

@media (max-width: 1180px) {
    .mobile-art-intr{
        display: block;
        text-align: center;
        margin-top: -430px;
        z-index: 1;
    }

    .mobile-artisti{
        display: inline-block;
        width: 300px;
        position: fixed;
        margin-left: -150px;
        margin-top: -220px;    
    }
    
    .mobile-intrattenimento{
        display: inline-block;
        position: fixed;
        width: 300px;
        margin-left: -150px;
        margin-top: 100px;
    }

    .art-intr{
        display: none;
    }

    .artisti{
        display: none;
    
    }
    
    .intrattenimento{
        display: none;
    }
}

@media (max-height: 800px)
{
    .mobile-artisti{
        margin-top: -180px;    
    }
    
    .mobile-intrattenimento{
        margin-top: 140px;
    }
}

@media (max-height: 750px)
{
    .mobile-artisti{
        margin-top: -110px;    
        width: 250px;
        margin-left: -125px;

    }
    
    .mobile-intrattenimento{
        margin-top: 150px;
        width: 250px;
        margin-left: -125px;
    }

    #mobile-red-rect {
        margin-top: 300px;
    }
    
    #mobile-green-rect {
        margin-top: 540px;
    }
}

@media (max-height: 680px)
{
    .mobile-artisti{
        margin-top: -30px;    
        width: 200px;
        margin-left: -100px;

    }
    
    .mobile-intrattenimento{
        margin-top: 210px;
        width: 200px;
        margin-left: -100px;
    }

    #mobile-red-rect {
        margin-top: 280px;
    }
    
    #mobile-green-rect {
        margin-top: 510px;
    }
}

@media (max-height: 650px)
{
    .mobile-artisti{
        margin-top: -30px;    
        width: 200px;
        margin-left: -100px;

    }
    
    .mobile-intrattenimento{
        margin-top: 210px;
        width: 200px;
        margin-left: -100px;
    }

    #mobile-red-rect {
        margin-top: 250px;
    }
    
    #mobile-green-rect {
        margin-top: 470px;
    }
}

@media (max-height: 580px)
{
    .mobile-artisti{
        margin-top: -30px;    
        width: 200px;
        margin-left: -100px;

    }
    
    .mobile-intrattenimento{
        margin-top: 210px;
        width: 200px;
        margin-left: -100px;
    }

    #mobile-red-rect {
        margin-top: 190px;
    }
    
    #mobile-green-rect {
        margin-top: 420px;
    }
}

@media (max-height: 522px)
{
    .mobile-artisti{
        margin-top: 10px;    
        width: 190px;
        margin-left: -95px;

    }
    
    .mobile-intrattenimento{
        margin-top: 210px;
        width: 190px;
        margin-left: -95px;
    }

    #mobile-red-rect {
        margin-top: 150px;
    }
    
    #mobile-green-rect {
        margin-top: 350px;
    }
}


  /* social icons */
svg {
  width: 15px;
  height: 15px;
}

.social-icons {
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}

.social-icons li {
  display:inline-block;
  margin-bottom:4px
}

.social-icons a{
  background-color:#eceeef;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

/* social icons color when hover */
.social-icons a.facebook:hover {
  background-color:#385898;
}

@media all and (max-width: 380px) {

    #logo {
        width: 55%;
        margin-left: 10px;
    }
    .logo {
        width: 150px;
        
    }

    #logo-white {
        width: 85%;
        margin-left: 10px;
    }


}




