<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation tempDirectory="D:\AspNetTemp\site\studioroccaromana.it" />
  </system.web>
  <system.webServer>
    <staticContent>
      <!-- IIS non conosce .webp: senza questa riga le immagini danno errore 404.3 -->
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
  </system.webServer>
</configuration>